<!--레이아웃 CSS-->
*{margin-left: auto; margin-right: auto; height: 0 auto;}
body {background-color: white;}
#wrap {width: 1000px; height: 900px; margin: 0 auto; font-size: 30px; color:#fff; text-align: center; text-transform: uppercase;}
.banner{float:left; font-size:25px; font-family:fantasy; color:black; border: 3px; background-color: white;}
.header {color: black; width: 1000px; height: 100px; line-height: 100px; background: white;}
.nav {color: black; width: 1000px; height: 100px; line-height: 100px; background: white;}
.side {color: black; float: left; width: 300px; height: 600px; line-height: 600px; background: white;}
.content1 {color: black; float: left; width: 700px; height: 300px; line-height: 300px; background: white;}
.content2 {color: black; float: left; width: 700px; height: 300px; line-height: 300px; background: white;}
.footer {color: black; clear: both; width: 1000px; height: 100px; line-height: 100px; background: white; float:left;}
.container {color: black; float:right; width: 500px; height: 400px; font-size: 14px;}
.dropdown{float:right;}


<!--메뉴바 CSS-->
li a {
    display: inline-block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
li a.active {
    background-color: #4CAF50;
    color: white;
}
li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
}
ul:after{
    content:'';
    display: block;
    clear:both;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
}
li a:hover:not(.active) {
    background-color: #111;
}
.active {
    background-color: #d0d6d0;
}


<!--공지사항 CSS-->
.notice table {width: 200px; margin: 0 auto; border-collapse: collapse; table-layout: fixed; float:left;}
.notice th {border-top: 3px solid #333; border-bottom: 3px solid #333;color:black; font-size:13px;}
.notice td {border-bottom: 1px solid gray; font-size: 13px; color:black;}
.notice .col1, .notice .col4 {width: 8%;}
.notice .col3, .notice .col5 {width: 14%;}
.notice th, .notice td {padding: 6px;}
.notice td + td {
    text-align: left; white-space: nowrap; overflow: hidden;
    text-overflow: ellipsis;
}
.notice td, .notice td + td + td {text-align: center;}
.notice a {text-decoration: none; color: rgb(80, 80, 80);}
.notice a:hover {color: blueviolet;}
.notice a + span {font-size: 7px; color: black}
.notice .face {width: 8px;}
 
.notice .number {width: 400px; margin: 0 auto;}
.notice .number::after {content: ''; display: block; clear: both;}
.notice .number div {
    width:30px; height: 26px; background: rgb(188, 223, 236); border-radius: 5px;
    text-align: center; margin: 20px 10px 0px; padding: 2px 0 0;
}
.notice .number .select {background: rgb(253, 198, 94); text-decoration: underline;}

<!--이미지 슬라이드 CSS-->
.slideshow{
    float:left;
}
 .slideshow .container {
    display:inline-block;
 }

<!-- 로그인창 CSS-->

div.container{
    padding: 10px;
    border: 3px solid none;
    
}
div{
    padding-top: 5px;
}



form fieldset{
    background-color:  white;
    border: none;
    margin-top: auto;
    width: 200px;
    height: 150px;
    padding-bottom: 2px;  
    float: right;
}

input[type=text]{
    
    width: 74%;
    font-size: 14px;
    height: 20px;
    border: 1px solid black;
    text-indent: 5px;
    float:right;
    
}

input[type=password]{
    width: 74%;
    font-size: 14px;
    height: 20px;
    border: 1px solid black;
    text-indent: 5px;
    float:right;
    
}

input[type=checkbox]{
    float:left;  
}

input[type=submit]{
    border-radius: 5px;
    background-color: black;
    color: ghostwhite;
    font-size: 15px;
    width: 45px;
    padding: 5px;
    height: 30px;
    margin-top: 30px;
    font-size: 10px;
    float: right;
}

input[type=button]{
    color: black;
}

<!--검색창 CSS-->
* {
    margin: 0;
    padding: 0;
  }
  
  .search {
    width: 470px;
    height:80px;
    float:left;
  }
  .search input {
    width: 88%;
    height: 30px;
    font-size: 14px;
    border: none;
    border-bottom: 1px black solid ;
    float: left;
  }

  text{
    border: none;
  }
  
  .search button {
    font-size: 15px;
    border: none;
    background-color: white;
    width: 50px;
    height: 30px;
    border-radius: 15px;
    color: black;
    cursor: pointer;
    border:none;
  }
  
  
  .loading span {
      display: inline-block;
      margin: 0 -.05em;
      animation: loading 1.4s infinite alternate;
    }
    loading span:nth-child(2) {
      animation-delay: .1s;
    }
    loading span:nth-child(3) {
      animation-delay: .2s;
    }
    loading span:nth-child(4) {
      animation-delay: .3s;
    }
    loading span:nth-child(5) {
      animation-delay: .4s;
    }
    loading span:nth-child(6) {
      animation-delay: .5s;
    }
    loading span:nth-child(7) {
      animation-delay: .6s;
    }
    @keyframes loading {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
  }


  <!--시계 CSS-->
  .clock { width: 100%; height: 100%; display: table; }

  #watch {

      font-weight: bold; text-align: center;
      display: table-cell; vertical-align: middle;
      font-size: 50px; color:#555; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   }

  <!--원형차트 CSS-->
  .contain {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    
  }
  
  .chart {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transition: 0.3s;
    color:black;
  }
  
  span.center {
    background: #fff;
    position: absolute;
    top: 60%;
    left: 60%;
    width: 50px;
    height: 50px;
    border-radius: 60%;
    text-align: center;
    line-height: 40px;
    font-size: 15px;
    transform: translate(-50%, -50%);
  }

  <!--바로가기 HTML-->
  .linkWrap{
    border-radius: 5px;
  }
  