/*레이아웃 CSS*/
*{margin-left: auto; margin-right: auto;}
body {background-color: white;}
#wrap {width: 1000px; height: 900px; margin: 0 auto; font-size: 30px; color:#fff; text-align: center; text-transform: uppercase;}
.banner{float:left; font-size:25px; font-family:fantasy; color:black; border: 3px;}
.header {color: black; width: 1000px; height: 100px; line-height: 100px; background: white;}
.nav {color: black; width: 1000px; height: 100px; line-height: 100px; background: white; font-size:18px;}
.side {color: black; float: left; width: 300px; height: 600px; line-height: 600px; background: white;}
.content1 {color: black; float: left; width: 700px; height: 300px; line-height: 300px; background: white;}
.content2 {color: black; float: left; width: 700px; height: 300px; line-height: 300px; background: white;}
.footer {color: black; clear: both; width: 1000px; height: 100px; line-height: 100px; background: white;}
.container {color: black; float:right; width: 500px; height: 400px; font-size: 14px;}
.dropdown{float:right;}


/*메뉴바 CSS*/
li a {
    display: inline-block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
li a.active {
    background-color: #4CAF50;
    color: white;
}
li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
}
ul:after{
    content:'';
    display: block;
    clear:both;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #111;
}
.active {
    background-color: #d0d6d0;
}