form{
    float:left;
    padding: 350px;
    height: 200px;

}

table{
    
    font-size:16px;   
}

thead{
    font-size: 24px;
    text-decoration: underline black;
}

button{
    float:right;
    background-color: white;
    color:white;
    border: none ;

}