.music{
    font-size: large;
}

table .song{
    table-layout: auto;
    position: absolute;
}



div{
    display: block;
}

span{
    display: inline-block;
}

audio{
    background-color: #f1da36;
}




