/*레이아웃 CSS*/
*{margin-left: auto; margin-right: auto;}
body {
    background-color: white;
   background-image: url(../공통/univ.png);
   background-repeat: no-repeat;
   background-size: auto;
   background-position: center bottom;}
#wrap {width: 1000px; height: 900px; margin: 0 auto; font-size: 30px; color:#fff; text-align: center; text-transform: uppercase;}
.banner{float:left; font-size:25px; font-family:fantasy; color:black; border: 3px;}
.header {color: black; width: 1000px; height: 100px; line-height: 100px; background: white;}
.nav {color: black; width: 1000px; height: 100px; line-height: 100px; background: white; font-size:18px;}
.side {color: black; float: left; width: 300px; height: 600px; line-height: 600px; background: white;}
.content1 {color: black; float: left; width: 700px; height: 300px; line-height: 300px; background: white;}
.content2 {color: black; float: left; width: 700px; height: 300px; line-height: 300px; background: white;}
.footer {color: black; clear: both; width: 1000px; height: 100px; line-height: 100px; background: white;}
.container {color: black; float:right; width: 500px; height: 400px; font-size: 14px;}
.dropdown{float:right;}


/*메뉴바 CSS*/
li a {
    display: inline-block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
li a.active {
    background-color: #4CAF50;
    color: white;
}
li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
}
ul:after{
    content:'';
    display: block;
    clear:both;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #111;
}
.active {
    background-color: #d0d6d0;
}

/*이미지 슬라이드 CSS*/
#slideshow{
    border: #000 10px;
}

/*체크박스 CSS*/
p{font-size: 18px;}
table{float:left;}

/*퍼센트 프로그레스바 CSS*/

.progressbar {
    width: 300px;
    height: 20px;
    background-color: #f2f2f2;
    float:right;
    border-radius: 10px;
}

.progress {
    width: 0;
    height: 100%;
    background-image: linear-gradient(to right,rgb(221, 199, 138),rgb(161, 115, 44),brown);
    border-radius: 10px;
}

.percent {
    margin-top: 5px;
    text-align: right;
    float:right;
    font-size:18px;
    font-family: fantasy;
}


/*전공선택 페이지 속 전체 탭메뉴 CSS*/
    section {
        display: none;
        padding: 5px 0 0;
        border-top: 1px solid #ddd;
        text-align: center;
    }

    input {
        display: none;}

    label {
        display: inline-block;
        padding: 1px 5px;
        font-weight: 450;
        color: rgb(146, 139, 139);
        border: 3px solid transparent;
        font-size:16px;      
    }

    label:hover {
        color: white;
        cursor: pointer;}


    input:checked + label {
      color: white;
      border: 1px solid #ddd;
      border-radius: 5px;
      border-top: 1px solid white;
      border-left: 1px solid white;
      border-right: 1px solid white;
      border-bottom: 1px solid white;}

    #tab1:checked ~ #content1,
    #tab2:checked ~ #content2{
        display: block;}


/*전공선택 페이지 타 트랙 전공필수 과목 선택 탭메뉴 CSS*/
    .tab {
        overflow: hidden;
        background-image: none;
        color: rgb(146, 139, 139);
      }
      
   
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
      }
        
      .tab button.active {
        background-color: none;
        background-image: none;
        color: white;
      }
      

      .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: 2px silver;
        background-image: linear-gradient(to right,rgb(81, 91, 95),rgb(56, 70, 70),rgb(27, 28, 29));
        border-radius: 5px;
        color: rgb(146, 139, 139);
        width: 978px;
        height: 600px;
      }